.body {
  padding: 30px;
  font-family: Raleway, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  width: 500px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
  height: 50px;
  padding: 10px 20px;
}

.image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50px;
}

.avatarCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
}

.leftHeader {
  display: flex;
  align-items: space-between;
}

.mainpic {
  display: flex;
  justify-content: center;
  height: 500px;
  overflow: hidden;
  border-bottom: solid 1px black;
}

.emoArev {
  border-bottom: solid 1px lightgray;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}

.comment {
  height: 35px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input {
  height: 20px;
  width: 80%;
  border: none;
}

button {
  color: rgb(25, 25, 105);
  font-size: 17px;
  font-weight: 200;
  border: none;
  background-color: white;
}

.emo {
  display: flex;
  justify-content: space-between;
}

.leftemo {
  margin: 15px;
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.rightemo {
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
}

.like {
  display: flex;
  justify-content: flex-start;
  height: 20px;
  padding: 0 15px;
}

.likeimg {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

.hour {
  font-size: 12px;
  color: gray;
  border-bottom: solid 1px lighgray;
}
